<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") -%>

<body>

    <%- include("./partials/header.ejs") -%>

    <main>
        <section>
            <% for( let i = 0; i < 3; i++ ) { %>
                <button></button>
            <% } %>
        </section>

        <p>Sorry, but you cannot send this form without activating JavaScript in your browser.</p>
        <p>Check your Settings: Settings > Privacy and security > Site settings > JavaScript > Sites can use
            JavaScript</p>
        <p>
            <strong>
                Sorry for the boring layout, but your browser doesn't support styling files.
            </strong>
        </p>

        <% for( let i = 0; i < 2; i++ ) { %>
            <button></button>
        <% } %>

        <%- include("./partials/pianos.ejs") -%>

        <%- include('./partials/smallScreen.ejs') %>
    </main>

    <%- include('./partials/footer.ejs') %>

    <script src="./script/script.js"></script>
</body>

</html>