<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") -%>

<body>

    <%- include("./partials/header.ejs") -%>

    <main>
        <section>
            <button></button>
            <button></button>
            <button></button>
        </section>

        <button></button>

        <%- include("./partials/pianos.ejs") -%>

        <%- include('./partials/smallScreen.ejs') %>
    </main>

    <%- include('./partials/footer.ejs') %>

    <script src="./script/script.js"></script>
</body>

</html>